{% extends 'triv_tracker_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" href="{% static 'triv_tracker_app/index.css' %}">
{% endblock%}
{% block body %}
    {% if user.is_authenticated %}
      <div class="authenticated-container">
        <h1>Welcome, {{request.user}}</h1>
        <h3>Information</h3>
        <p>First Name: {{request.user.first_name}}</p>
        <p>Last Name: {{request.user.last_name}}</p>
        <p>Email: {{request.user.email}}</p>
        <p>Points: {{profile.points}}</p>
        <a href="/update/">Update Profile</a>
      </div>
    {% else %}
      <div class="container">
        <div class="container">
          <div class="non-authenticated-container text-center p-5">
            <h1 class="display-2 my-5">Welcome to the TriV Tracker</h1>
            <h3 class="display-4 my-5">Trivalley CoderDojo's Achievement Tracking System</h3>
            <a href="/register/" class="register-btn">Register</a>
          </div>
        </div>
      </div>
    {% endif %}
{% endblock %}
